@page "/fetchdata"

<PageTitle>Password</PageTitle>

@using PasswordSite.Data

<h1>Password Generator</h1>


<table class="table">
    <thead>
        <tr>
            <th>Random password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Amount of characters: <input type="number"  min="8" max="18" @bind="length" /></td>
            <td>Contains number(s): <input type="checkbox" @bind="numbers" /></td>
            <td>Contains capital letter(s): <input type="checkbox" @bind="caps" /></td>
            <td>Contains special character(s): <input type="checkbox" @bind="chars" /></td>
            <button class="btn btn-outline-dark" @onclick=(CreatePassword)>Create Password</button>
        </tr>
        <tr>Numbers: @numbers</tr>
        <tr>Caps: @caps</tr>
        <tr>Chars: @chars</tr>
        <tr>
            @if (isPasswordCreated)
            {
                <td>Password: <a class="Blurred">@pass</a></td>
            }
        </tr>
    </tbody>
</table>

@code {
    string pass = string.Empty;
    int length;

    bool isPasswordCreated = false;
    bool numbers = false;
    bool caps = false;
    bool chars = false;

    void CreatePassword()
    {
        CheckLength();
        isPasswordCreated = true;
        pass = Password.GetPassword(numbers, chars, caps, length);
    }

    void CheckLength()
    {
        if (length < 8)
        {
            length = 8;
            return;
        }

        if (length > 18)
        {
            length = 18;
            return;
        }
    }

    /* - Old way
    // string args = $"https://passwordinator.onrender.com/";
    void AddArgs()
    {
        args = $"https://passwordinator.onrender.com/";
        args += $"?len={length}";

        if (numbers)
            args += "&num=true";

        if (caps)
            args += "&caps=true";

        if (chars)
            args += "&char=true";
    }
    */


}