@page "/"

@using PasswordSite.Data

<PageTitle>Index</PageTitle>


<p>Joke of the day:</p>
@if (joke is not null && joke != string.Empty)
{
    <p>@joke</p>
}

@code {
    string? joke = Joke.GetJoke();
}
